body {
  background-color: #082201;
  margin: 0;
}

h1 {
  margin: 0;
  font-family: Georgia, serif;
  font-size: 100px;
  color: #f5f5dc;
}

h2 {
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    color: #f5f5dc;
}

p{
  font-family: Georgia, serif;
  color: #f5f5dc;
}

button {
    background-color: #f5f5dc;
    font-family: Georgia, serif;
    font-size: 15px;
    padding: 5px 10px 5px 10px;
    margin-top: 5px;
    border: none;
    border-radius: 10px;
    width: fit-content;
}

.heading {
  height: fit-content;
  font-family: fantasy;
  font-size: 75px;
  text-align: center;
  border: 5px solid transparent;
  box-shadow: 0 4px 20px -2px rgba(0, 0, 0, 0.2);
  color: #f5f5dc;
}

#main {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 100px;
}

.name {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 700px;
  padding-left: 100px;
}

.photo-div {
    width: 50%;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.photo {
  width: auto;
  height: 500px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.5);
}

.skills {
  color: #f5f5dc;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

#icon {
  width: 100px;
  height: 100px;
  font-size: 100px;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 800px;
  h1 {
    padding-bottom: 20px;
    margin-bottom: 20px;
    text-align: center;
  };
  h2 {
    margin-top: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
  }
}

.contact{
  color: #f5f5dc;
  text-decoration: none;
  font-size: 50px;
}